
        <div class="sub_visual">
            <div class="bg map">
                <p class="title">커뮤니티</p>
                <p class="txt">광활하고 순수한 대지, 알래스카로 초대합니다.</p>
            </div>
        </div>
        <div class="w1200 content_box">
            <div id="content">
                <div class="subpg_title_wrap">
                    <h2 class="subpg_title">여행후기</h2>
                </div>
                <div class="main_t_btn_wrap">
                    <div class="main_t_btn">
                        <a href="trip_review">목록</a>
                    </div>
                </div>
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th class="n_blue">
                                    <span><%=row.title%></span>                                  
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="info_wrap">
                                    <dl class="info">
                                        <dt>작성일</dt>
                                        <dd><%=row.rev_time%></dd>
                                    </dl>
                                    <dl class="info space">
                                        <dt>작성자</dt>
                                        <dd><%=row.name%></dd>
                                    </dl>
                                </td>
                            </tr>
                            <% if(typeof errs !== 'undefined'){ %>
                                <% errs.forEach((err) =>{%>
                                    <h3><%=err.param%> : <%=err.msg%></h3>
                               <%})%>
                           <%}%>
                            <tr>                               
                                <td class="txt_box">
                                    <%=row.content%>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> 
                <div id="np_b_txtbox">
                    <div class="np_b_up">
                       <p>이전글</p>
                       <sapn><a href="#">없음</a></sapn>
                    </div>
                    <div class="np_b_down">
                        <p>다음글</p>
                        <span><a href="#"></a></span>
                    </div>
                </div> 
                <div id="b_btn">
                    <input type="button" onclick="javascript:location.href = '/newReview?id=<%=row.id%>'" value="수정">
                    <input type="button" onclick="javascript:location.href = '/deleteReview?id=<%=row.id%>'" value="삭제">
                </div>                                 
            </div>
        </div>
        <a href="#" class="top">
            <img src="../img\logo\b_top.png">
        </a>
  