<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/memo.css">
</head>
<body>
    <h1>memo</h1>
    <input type="button" value="새메모작성" onclick="javascript:location.href ='/newM'">
    <table>
        <tr>
            <td>내용</td>
            <td>작성일</td>
            <td>수정일</td>
            <td>수정</td>
        </tr>
        <% rows.forEach((row, index) => {      %>
        <tr>
            <td><%= row.content%></td>
            <td><%= row.created%></td>
            <td><%= row.updated%></td>
            <td>
                <input type="button" value="수정" onclick="javascript:location.href='/updateMemo?id=<%=row.id%>'">
                <input type="button" value="삭제" onclick="javascript:location.href='/deleteMemo?id=<%=row.id%>'">
            </td>
        </tr>
        <% }) %>
    </table>
</body>
</html>